<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% block title %}
	{% endblock %}
	<link href="{{ request.url_for('static', path='/css/style.css') }}" rel="stylesheet">
</head>
<body>
	<div id="header">
		<div>
			<a href="{{ request.url_for('home') }}" id="logo">
				<img src="{{ request.url_for('static', path='/images/fl_logo.png') }}" alt="logo">
			</a>
			<ul>
				<li>
					<a href="{{ request.url_for('home') }}">Home</a>
				</li>
				<li>
					<a href="#">Report</a>
						<ul class="dropdown">
							<li><a href="{{ request.url_for('real_time_values') }}">Real time</a></li>
							<li><a href="#">Daily reports</a></li>
							<li><a href="#">Alerts</a></li>
						</ul>
				</li>
				<li>
					<a href="#">Settings</a>
				</li>
				<li>
						<a href="#" >Administration</a>
						<ul class="dropdown">
							<li><a href="{{ request.url_for('get_users') }}">Users</a></li>
							<li><a href="{{ request.url_for('get_profiles') }}">Profiles</a></li>
							<li><a href="#">Devices</a></li>
							<li><a href="{{ request.url_for('get_types') }}">Devices types</a></li>
							<li><a href="{{ request.url_for('get_groups') }}">Groups</a></li>
						</ul>
				</li>
				<li>
					<a href="{{ request.url_for('logout') }}">Logout</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="body">

	{% block content %}
	{% endblock %}

	</div>
</body>
</html>