{% extends "index.html" %}

{% block title %}
	<title>Profile</title>
{% endblock %}

{% block content %}
	<h1>{{ data_list['profilename'] }}</h1>
	<br>
	<table id="profile">
	  <tr>
		<td><b>Id</b></td>
		<td>{{ data_list['id'] }}</td>
	  </tr>
	  <tr>
		<td><b>Username</b></td>
		<td>{{ data_list['profilename'] }}</td>
	  </tr>
	  <tr>
		<td><b>Description</b></td>
		<td>{{ data_list['description'] }}</td>
	  </tr>
	  <tr>
		<td><b>Profiles</b></td>
		<td>
			<table id="userProfiles">
				<tr>
					<th><b>Id</b></th>
					<th><b>Name</b></th>
					<th></th>
				</tr>
				{% for group in data_list['groups'] %}
				<tr>
					<td>{{ group['group_id'] }}</td>
					<td>{{ group['groupname'] }}</td>
					<td>
						<a href="#" onclick="sendDelete(event,'/profiles/{{ data_list['id'] }}/groups/{{ group['group_id'] }}')">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</table>
			<form action="/profiles/groups" method="POST" class="associateItem" id="associateItem">
				<div class="associateItem">
					<input type="hidden" name="profileId" value="{{ data_list['id'] }}" required>
					<input type="number" placeholder="Group id" name="groupId" min="1" required>
					<input type="submit" value="Add" onclick="sendPostForm(event, 'associateItem', '/profiles/groups')">
				</div>
			</form>
		</td>
	  </tr>
	</table>

{% endblock %}
