{% extends "index.html" %}

{% block title %}
	<title>Profiles</title>
{% endblock %}

{% block content %}
    <h1>Profiles</h1>
    <br>
	<table id="profiles">
		<tr>
			<th><b>Id</b></th>
			<th><b>Name</b></th>
			<th><b>Description</b></th>
			<th></th>
			<th></th>
		</tr>
		{% for data in data_list %}
		<tr>
			<td>
				<a href="{{ request.url_for('get_profile', id=data['id']) }}">{{ data['id'] }}</a>
			</td>
			<td>{{ data['profilename'] }}</td>
			<td>
				<form method="post" id="updateItem{{ data['id'] }}" class="updateItem">
					<div class="updateItem">
						<input type="text" name="description" value="{{ data['description'] }}" required>
					</div>
                </form>
			</td>
			<td>
				<a href="#" onclick="sendDelete(event,'/profiles/{{ data['id'] }}')">Delete</a>
			</td>
			<td>
				<a href="#" onclick="sendPutForm(event, 'updateItem{{ data['id'] }}', '/profiles/{{ data['id'] }}')">Save</a>
			</td>
	  	</tr>
		{% endfor %}
	</table>
	<form action="/profiles" method="POST" class="newItem">
		<div class="newItem"><br>
			<label for="name"><b>Profile name</b></label><br>
			<input type="text" placeholder="Enter profile name" name="name" required><br>
			<label for="description"><b>Description</b></label><br>
			<input type="text" placeholder="Enter description" name="description" required><br>
			<input type="submit" value="Add">
		</div>
	</form>
{% endblock %}

