{% extends "index.html" %}

{% block title %}
	<title>User</title>
{% endblock %}

{% block content %}
	<h1>{{ data_list['full_name'] }}</h1>
	<br>
	<table id="user">
	  <tr>
		<td><b>Id</b></td>
		<td>{{ data_list['id'] }}</td>
	  </tr>
	  <tr>
		<td><b>Username</b></td>
		<td>{{ data_list['username'] }}</td>
	  </tr>
	  <tr>
		<td><b>Email</b></td>
		<td>{{ data_list['email'] }}</td>
	  </tr>
	  <tr>
		<td><b>Profiles</b></td>
		<td>
			<table id="userProfiles">
				<tr>
					<th><b>Id</b></th>
					<th><b>Name</b></th>
					<th></th>
				</tr>
				{% for profile in data_list['profiles'] %}
				<tr>
					<td>{{ profile['profile_id'] }}</td>
					<td>Name: {{ profile['profilename'] }}</td>
					<td>
						<a href="#" onclick="sendDelete(event,'/users/{{ data_list['id'] }}/profiles/{{ profile['profile_id'] }}')">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</table>
			<form action="/users/profiles" method="POST" class="associateItem" id="associateItem">
				<div class="associateItem">
					<input type="hidden" name="userId" value="{{ data_list['id'] }}" required>
					<input type="number" placeholder="Profile id" name="profileId" min="1" required>
					<input type="submit" value="Add" onclick="sendPostForm(event, 'associateItem', '/users/profiles')">
				</div>
			</form>
		</td>
	  </tr>
	</table>

{% endblock %}
